<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Albedo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Albedo.Properties.Settings>
            <setting name="bridgeIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="bridgeUserName" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="bridgeGroup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastActiveTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customSceneJSON" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="customSelected5" serializeAs="String">
                <value />
            </setting>
            <setting name="customSelected6" serializeAs="String">
                <value />
            </setting>
            <setting name="customSelected7" serializeAs="String">
                <value />
            </setting>
            <setting name="customSelected8" serializeAs="String">
                <value />
            </setting>
            <setting name="backupMainJSON" serializeAs="String">
                <value>{"lights":{"1":{"state": {"on":false,"bri":1,"ct":234,"colormode":"ct"}, "name": "Loading..."}},"groups":{}}</value>
            </setting>
            <setting name="backupGroupJSON" serializeAs="String">
                <value>{"name":"Loading...","lights":["1"]}</value>
            </setting>
            <setting name="newVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="daylightSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ambientTransition" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="customSelected1" serializeAs="String">
                <value>energize</value>
            </setting>
            <setting name="customSelected2" serializeAs="String">
                <value>concentrate</value>
            </setting>
            <setting name="customSelected3" serializeAs="String">
                <value>reading</value>
            </setting>
            <setting name="customSelected4" serializeAs="String">
                <value>relax_</value>
            </setting>
            <setting name="autoEffect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoName" serializeAs="String">
                <value />
            </setting>
            <setting name="startupTime" serializeAs="String">
                <value>0</value>
            </setting>
        </Albedo.Properties.Settings>
    </userSettings>
</configuration>